<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>隨便交易中心</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="stylesheets/exchange.css">
		<link rel="icon" href="image/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  </head>
   <body>
		<div class="wrapper">
			<header>
				<h1>隨便交易中心</h1>

				<div class="nav-left"> 
					<nav>
						<a href="index.html">首頁</a>
					</nav>
				</div>

				<div class="nav-right">
					<nav>
						<a href="register.html">註冊</a>
						<a href="login.html">登入</a>
						<a href="personal_page.html">個人資料</a>
					</nav>
				</div>
			</header>

			<main>
				<h2>商品內容</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Nulla sit amet porttitor ante. Aliquam sit amet tincidunt lacus. 
					Integer lobortis lacinia est quis posuere. Integer ut commodo tellus, 
					non ornare sem. Donec luctus nibh et nisl interdum, sit amet congue odio tincidunt. 
					Sed ultrices sit amet risus non mattis. Duis eget ante vitae sem semper sodales.
					In vitae molestie arcu, nec rhoncus augue. Nulla auctor leo vitae imperdiet porta. 
					ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					Fusce tellus libero, aliquam ut molestie et, tincidunt a turpis. 
					Maecenas vitae turpis elit. Nulla ac ornare turpis. Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit. In quis facilisis nisl. Pellentesque feugiat eu orci et scelerisque. 
					In pellentesque, diam et scelerisque varius, sem ante mollis libero, vitae condimentum elit mauris eu turpis.
				</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Nulla sit amet porttitor ante. Aliquam sit amet tincidunt lacus. 
					Integer lobortis lacinia est quis posuere. Integer ut commodo tellus, 
					non ornare sem. Donec luctus nibh et nisl interdum, sit amet congue odio tincidunt. 
					Sed ultrices sit amet risus non mattis. Duis eget ante vitae sem semper sodales.
					In vitae molestie arcu, nec rhoncus augue. Nulla auctor leo vitae imperdiet porta. 
					ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					Fusce tellus libero, aliquam ut molestie et, tincidunt a turpis. 
					Maecenas vitae turpis elit. Nulla ac ornare turpis. Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit. In quis facilisis nisl. Pellentesque feugiat eu orci et scelerisque. 
					In pellentesque, diam et scelerisque varius, sem ante mollis libero, vitae condimentum elit mauris eu turpis.
				</p>
			</main>

			<footer>
				<p>
					Copyright &copy; 第二小隊交易系統<br>
					<a href="mailto:session@sitcon.org">Email someone(?</a><br>
				</p>
			</footer>
		</div>

  </body>
</html>
