<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>隨便交易中心</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="stylesheets/exchange.css">
		<link rel="icon" href="image/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  </head>
   <body>
		<div class="wrapper">
			<header>
				<h1>隨便交易中心</h1>

				<div class="nav-left"> 
					<nav>
						<a href="/index">首頁</a>
					</nav>
				</div>

				<div class="nav-right">
					
					<nav>
						
						<% if (signed) { %>
							<a href="/login">登出</a>
							<% console.log(signed) %>
						<% }else { %>
							<a href="/login">登入</a>
							<a href="/register">註冊</a>
							<% console.log(signed) %>

						<% } %>

						<a href="/personal_page">個人資料</a>
					</nav>
				</div>
			</header>

			<main>
				<h2>個人資料</h2>
				<form class="column-center">
					<output name="id" >帳號顯示在這裡</output><br>
					<output name="pwd" >密碼顯示在這裡</output>
				</form>
				<h2>持有商品</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Nulla sit amet porttitor ante. Aliquam sit amet tincidunt lacus. 
					Integer lobortis lacinia est quis posuere. Integer ut commodo tellus, 
					non ornare sem. Donec luctus nibh et nisl interdum, sit amet congue odio tincidunt. 
					Sed ultrices sit amet risus non mattis. Duis eget ante vitae sem semper sodales.
					In vitae molestie arcu, nec rhoncus augue. Nulla auctor leo vitae imperdiet porta. 
					ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					Fusce tellus libero, aliquam ut molestie et, tincidunt a turpis. 
					Maecenas vitae turpis elit. Nulla ac ornare turpis. Lorem ipsum dolor sit amet, 
					consectetur adipiscing elit. In quis facilisis nisl. Pellentesque feugiat eu orci et scelerisque. 
					In pellentesque, diam et scelerisque varius, sem ante mollis libero, vitae condimentum elit mauris eu turpis.
				</p>
				<h2>增加新商品</h2>
					<form method="post" action="/add" class="well form-inline center" style="text-align:center;">
						商品名稱: <input type="text" class="span8" name="post"><br>
						商品介紹: <input type="text" class="span8" name="des"><br>
						開始日期: <input type="date" class="span8" name="start"><br>
						結束日期: <input type="date" class="span8" name="end"><br>
						商品價格: <input type="text" class="span8" name="price"><br>
						<button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>販售</button>
					</form>
			</main>

			<footer>
				<p>
					Copyright &copy; 第二小隊交易系統<br>
					<a href="mailto:session@sitcon.org">Email someone(?</a><br>
				</p>
			</footer>
		</div>

  </body>
</html>
