<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>隨便交易中心</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="stylesheets/exchange.css">
		<link rel="icon" href="image/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  </head>
   <body>
		<div class="wrapper">
			<header>
				<h1>隨便交易中心</h1>

				<div class="nav-left"> 
					<nav>
						<a href="index">首頁</a>
					</nav>
				</div>

				<div class="nav-right">
					<nav>
						<a href="register">註冊</a>
						<a href="/login">登出</a>
						<a href="personal_page">個人資料</a>
					</nav>
				</div>
			</header>

			<main>
				
			</main>

			<footer>
				<p>
					Copyleft(?) &copy; 第二小隊交易系統<br>
					<a href="mailto:session@sitcon.org">Email someone(?</a><br>
				</p>
			</footer>
		</div>

  </body>
</html>
