<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel="stylesheet" href="stylesheets/exchange.css">
  </head>
  <body>
    <h1>User Accounts</h1>
 
    <ul>

		<% for(var i=0; i<userlist.length; i++) {%>
		   <li>
				使用者 ID : <%= userlist[i]._id %> <br>
				使用者名稱: <%= userlist[i].username %> <br>
				使用者密碼: <%= userlist[i].password %><br>
			</li>
		<% } %>

    </ul>
  </body>
</html>