body { background-color: #AAD7EE;
			color: #000000;
			font-family: Arial, Verdana, sans-serif;
			-moz-background-size: cover;
			background-size: cover;}
header   { text-align: center;}
footer   { background-color: #A9D7DA;
			color: #000000;
			font-size: .80em;
			font-style: italic;
			text-align: center;	}
h2{
	text-align:center;
}
.wrapper { background-color: #E0F5FB;
		margin-left: auto;	
        margin-right: auto;
		width: 80%; 
		min-width: 700px;
		max-width: 1024px;
		box-shadow: 5px 5px 5px #888888; }
.nav-right{
	
	text-align: right;
	
}
.column-center{
	
	text-align: center;
	
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	font-family: Arial, Verdana, sans-serif;
    text-decoration: none;
    color: initial;
}

